/*this deals with the index html page as a whole*/
.iPage{
    
    background-color: skyblue;
    background-image: url(https://cdn.mos.cms.futurecdn.net/9UmWCbyxpKaEGXjwFG7dXo.jpg); /*background image in the homepage*/
    color: white;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
}


/*this is deals with the head part of the pages to make a consistent header: name and links*/
.head{
    font-size: 2rem;
    text-align: right;

}

/*color of the name of the person's website*/
.name{
    color: white;
}

/*color of the index/home link*/
.link1{
    color: red;
}

/*color of the about link*/
.link2{
    color: red;
}

/*color of the portfolio link*/
.link3{
    color: red;
}

/*color of the contact us link*/
.link4{
    color:red;
}


/*title banner through all the pages*/

/*title banner for home page*/
.title1{
    display: flex;
    justify-content: center;
    background-color: crimson;
    width: 95vw;
    height: auto;
}

/*title banner for about page*/
.title2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: crimson;
    width: 100vw;
    position: relative;
    left: 2%;
    
    
}

/*title banner for portfolio page*/
.title3{
    display: flex;
    justify-content: center;
    background-color: crimson;
    width: auto%;

}

/*title banner for contact page*/
.title4{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    width: 100vw;
}

/*the quote of the index/home page*/
.info{
    display: flex;
    justify-content: center;
}

/*index page picture of background*/
.pic1{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: auto;
    background-color: white;
    padding: 0.5%;
}

/*the about page class*/
.aPage{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQkVWoaI8-z21FnG-u69m-7EYoNui6wMku0MQ&usqp=CAU);
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: 5px;
    width: 95vw;
    height: 95vh;
}

/*the dog image in the about page*/
.pic2{
  width: 30%;
  height: auto;

}

/*the dogs section in the about page */
.dogs{
    text-align: center;
    padding: 0.5%;
    margin: 5%;
    color: purple;
    background-color: aqua;
    font-size: 20px;
}

/*the tech image in the about page*/
.pic3{
    width: 30%;
    height: 40%;
}

/*the tech section in the about page*/
.tech{
    text-align: center;
   padding: 0.5%;
   margin: 5%;
   color: yellow;
   background-color: darkorange;
   font-size: 20px;
  
}

/*the excercise image in the about page*/
.pic4{
    width: 30%;
    height: auto;
}

/*the excercise section in the about page*/
.excercise{
    text-align: center;
    padding: 0.5%;
    margin: 5%;
    background-color: forestgreen;
    font-size: 20px;
}

/*the portfolio page class*/
.pPage{
    background-image: url(https://edtechreview.in/images/Projects_and_projectbaseddifferences_.jpg);
}

/*the first project section*/
.firstP{
    background-color: yellow;
    font-size: 20px;
    text-align: justify;
    padding: 5%;
    margin: 10%;
}

/*the first profile picture*/
.fpPic{
            width: 300px;
            height: 200px;
            border-radius: 10%;
            float: left;
            padding: 0.5%;
            margin: 1%;
              
            shape-outside: square(); /*changes the shape of the image*/
            background-color: aqua;
            color: white;
}

/*the second project section*/
.secondP{
    background-color: blue;
    font-size: 20px;
    text-align: justify;
    padding: 5%;
    margin: 10%;
    
}

/*the second profile picture*/
.spPic{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    float: right;
    padding: 0.5%;
    margin: 1%;
      
    shape-outside: circle(); /*changes the shape of the image*/
    background-color: black;
    color: white;
}

/*the third profile section*/
.thirdP{
    background-color: red;
    font-size: 20px;
    text-align: justify;
    padding: 5%;
    margin: 10%;
}

/*the third profile picture*/
.tpPic{
    width: 300px;
    height: 200px;
    border-radius: 400%;
    float: left;
    padding: 0.5%;
    margin: 1%;
      
    
    shape-outside: ellipse(); /*changes the shape of the image*/
    background-color: peachpuff;
    color: white;
}

/*the contact overall page*/
.contactP{
    display: flex;
    justify-content: center;
    align-items: center;

}

/*the contact header*/
.contactH{
    text-align: center;
    background-color: aqua;
}

/*The contact page container*/
.contactContainer{
    margin: 5px 25px 5px 25px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    left: 0%;
    z-index: -1;
}

/*the sections for the contact page*/
.contactPage{
    position: absolute;
    margin: 5px;
    height: 60vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: -1;
}

/*for the form overall in contact.html*/
.contacts{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin: 4rem;

}

/*for the inputs in the contact page*/
.inputs{

    border: 6px solid yellow;
    border-radius: 4px;
    padding: 6px 12px;
    font-size: 14px;
    outline: none;

}

/*used for the background section in contact page, specifically the section where the labels are at*/
@media screen and (min-width: 300px) {
    .contactPage {
      background-color: skyblue;
    }
}

/*for the background image in the contact page*/
@media screen and (min-width: 300px) {
    .contactP {
      background-image: url(https://st2.depositphotos.com/1560768/5217/i/600/depositphotos_52175409-stock-photo-female-hand-touching-contact-us.jpg);
    }
}
